{% extends "base.html" %}

{% block content %}
    <h1>Trainer Member Assignment List</h1>
    <form action="/trainerMemberAssignment" method="POST">
        Member List:<br><br>
            <select name="MemberName">
                {% for member in members %}
                <option value="{{ member.MemberName }}">{{ member.MemberName }}</option>
                {% endfor %}
            </select>

        <br/>
        <br/>

        Trainer List:<br><br>
            <select name="TrainerName">
                {% for trainer in trainers %}
                <option value="{{ trainer.TrainerName }}">{{ trainer.TrainerName }}</option>
                {% endfor %}
            </select>

        <br/>
        <br/>
        <input type="submit" value="Add Assignment" />
        <br/>
        <br/>
        <a href="adminMain">Return to Admin Dashboard View</a> 

    </form>
   
{% endblock %}